* {
	box-sizing: border-box;
	padding: 0px;
	margin: 8px;
	clear: both;
	font-family: Helvetica sans-serif;
}
mark {
  /* background-color:  rgba(156, 46, 135, 0.7);*/ 
	background: linear-gradient( rgba(156, 46, 135, 0.7),  rgba(156, 46, 135, 0.7)) no-repeat;
  background-position: bottom;
	/* 	Change the second value */
  background-size: 100% 55%;
  margin-left: 0.2em;
}

.devName:hover {
	background-size: 100% ;
	font-size: 18px;
	 text-shadow: 2px 3px 4px red, -2px -3px 4px blue;
	 text-decoration:  underline 2px;
}

.services > h1 {
	text-align: center;
	height: 20%;
}

.services > div {
	text-align: center;
}

div > p {
	padding: 15px;
}

.navbar {
	display: grid;
	grid-template-columns: auto auto auto auto;
	text-align: center;
	border-radius: 10px;
	background-color: rgba(112, 124, 115, 0.2);
	color: black;
}

ul > a {
	text-decoration: none;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}

.navbar > ul {
	width: 100%;
	padding: 0px;
	border-right: 3px white;
}

.navbar > ul:hover {
	color: red;
	background-color: white;
	margin: 0px;
	padding: 0px;
	border-right: ridge red 4px;
	border-left: inset red 6px;
}

.help {
	background-image: url('../images/broken.jpg');
	background-size: calc(100%);
	transition: background-image 2s linear;
	padding-top: 50px;
	height: 300px;
	width: 95%;
	background-repeat: no-repeat;
	padding: 20px;
	box-sizing: content-box;
}

.help-content {
	position: absolute;
    top: 50%;
    transform: translateY(-20%);
    height: 120px;
}

.book-us {
	color: white;
	padding: 10px;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	background: radial-gradient(rgba(111, 222,	100, 0.6)20%, rgba(100, 010, 20, 1.0)); 
	border-radius: 8px 15px;
	cursor: pointer;
}

.contact {
	float: right;
}

h1 {
	text-transform: uppercase;
}

.grid-item > img {
	width: 100%;
	height: 222px;
}

div.services {
	display: grid;
	width: 98%;
	grid-template-columns: auto auto auto;
	/*padding-left: 5px;*/
}

.grid-item {
	position: relative;
}

footer {
	display: grid;
	grid-template-columns: auto auto auto auto;
	font-size: 14px;
	margin: 35px;
	text-align: center;
	opacity: 0.45;
}

.copyright {
	 display: block;
  margin: auto;
  text-align: center;
  text-decoration: underline 2px red;
}

footer > ul {
	color: black;
	margin: 0px;
	 border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;

}

footer a:hover {
	color: red;
	font-size: 18px;
}

footer a {
	font-size: 14px;
}

ul {
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	color: inherit;
	float: right;
}